/* main layout
----------------------------------------------------------*/

#toDo, #doing, #done {
    height: 800px;
    background-color: #EAF4FF;
    font-size: medium;
    font-weight: bold;
    text-align: center;    
}

.card
{
    height: 200px;
    width: 200px;
    background-color: #FFFF99;
}

