/* main layout
----------------------------------------------------------*/

#toDo, #doing, #done {
    min-height: 400px;
    background-color: #EAF4FF;
    font-size: medium;
    font-weight: bold;
    text-align: center;    
}

.card {
    padding: 10px;
    height: 100px;
    width: 100px;
    background-color: #FFFF99;
    overflow: auto;
}

