/* main layout
----------------------------------------------------------*/

#board {
	min-height: 1000px;
    background-color: #EAF4FF;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

#toDo, #doing, #done {
    margin-left: 10px;
    min-height: 1000px;
}

#doing, #done {
	border-left-style: dashed;
	border-left-width: thin;
}

.card {
    padding: 10px;
    height: 100px;
    width: 100px;
    background-color: #FFFF99;
    overflow: auto;
    font-size: small;
}

